@import url(http://fonts.googleapis.com/css?family=Gabriela);

body {
    margin: 0;
    padding: 0;
    background-color:#e6f3ff;
}
#meni {
    padding-left: 0;
    height: 25px;
    padding-top: 0.5%;
}

ul {
    list-style-type: none;
    background-color:  #29293d;
    margin: 0 auto;
    overflow: hidden;
}
li {
    float: left;
    display: inline;
    width: 12.5%;
    height: 40px;
}  
li a {
    display: block;
    text-align: center;
    padding:3%;
    text-decoration: none;
    color: white;
    font-size: 20px;
}  
li a:hover {
    background-color: #1f1f2e;
}
#glavni {
    width: 100%;
    padding-left: 1%;
    box-sizing: border-box;
}

#podnozje {
    clear: both;
    height: 25px;
    padding-left: 1%;
    padding-top:0.5%;
}
#podnozje p {
    margin-top: 0%;
}
h1 {
    font-size: 42pt;
    font-family: Gabriela;
    margin: 0;
    padding-left: 1%;
}

#zaglavlje {
    padding: 2%;
}

button {
    margin-top: 10%;
    padding: 2%;
    width: 45%;
    height: 40px;
    margin-left: 4%;
    color: white;
}

label, input {
    display: block;
}

label, input, button, select {
    height: 30px;
}
label {
    text-align: right;
    clear: both;
    float:left;
    margin-bottom: 5%;
    font-size: 20px;
    width: 40%;
}
form {
    margin: 0 auto;
    width:35%;
    padding-top: 1%;
    margin-top: 1%;
    display: block;
}
input {
    width: 50%;
    font-size: 18px;
    float: right;
}
select {
    width: 50%;
    font-size: 18px;
    float: right;
}

button {
    margin-top: 10%;
    padding: 2%;
    width: 45%;
    height: 40px;
    margin-left: 4%;
    color: white;
}

#btn1 {
    background-color: green;
}

#btn2 {
    background-color: red;
}

#podnozjeGlavni {
    display: block;
    float: right;
    width: 50%;
}


#notification {
    padding-top: 22%;
    font-size: 24px;
    color: red;
    padding-left: 50%;
  }

  #download {
    padding-left: 50%;
    padding-top: 2%;
  }


